<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles2.css">

    <!--
    <script type = "text/javascript" >
        function preventBack(){window.history.forward();}
         setTimeout("preventBack()", 0);
         window.onunload=function(){null};
     </script> Forhindrer at man kan bruge tilbage pil til at genindlæse efter logud/delete-->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinder Clone</title>
    
</head>
<body>

<div class="header">
    <h1>Tinder Clone</h1>
</div>

<div class="main">


    <div class="left">
        
        <% if (user) { %>

            <ul>

        <form name="updateUser" action="http://localhost:3000/routes/update" role="form" method="POST">

        <input type="text" name="id" value='<%- user._id %>'style="display: none;">        
            <!--Måske ændre alle til H3, hvis det ser bedre ud-->
            <label> Navn: <%=user.name%> 
                <br>    
                    <input name="name" placeholder="Opdater navn" type="text"> </label>
        
        <br>
        
            <label> ID: <%=user._id%> 
                <br>
                    <input name="_id" placeholder="Indsæt ID" type="text"> </label>
        
        <br>
            
            <label>Email: <%=user.email%> 
                <br>
                    <input name="email" placeholder="Opdater Email" type="text"></label>
        
        <br>
            
            <label>Password: <%=user.password%> 
                <br>
                    <input name="password" placeholder="Opdater Password" type="text"></label>
        
        <br>
        
            <label> Alder: <%=user.age%> 
                <br>
                    <input name="age" placeholder="Opdater alder" type="number"></label>
        
        <br>
        
            <label> Køn: <%=user.gender%> 
                <br>
                    <input name="gender" placeholder="Opdater køn" type="text"></label>
        
        <br>
        
            <label> Foretrukket køn: <%=user.preferredGender%>
                <br>    
                    <input name="preferredGender" placeholder="Opdater foretrukket køn" type="text"></label>
        
        <br>
        
            <label> Interesser: <%=user.interest%>
                <br>   
                    <input name="interest" placeholder="Opdater interresser" type="text"></label>  
        
        <br>

        <input type="submit" value="Opdater bruger" id="update">

        </form>
       
        </ul>
        <br>
        
        
        <form name="delete" action="http://localhost:3000/routes/delete" role="form" method="POST" >
            <input type="text" name="id" value='<%- user._id %>' style="display: none;">
        <input type="submit" value="Slet bruger" id="slet">
        </form>
        
        <% } %>
        
      
         
         <button id="logOut" onclick="location.href='http://localhost:3000/'">Log ud</button>
        
    </div>


    
<div class="right">

    

        <h1>Potentielle Matches</h1> 

        
            <% if (userList) { %>
                <form name="like" action="http://localhost:3000/routes/<%=user._id%>/likes" role="form" method="POST">
                    <h2><%= userList.name%></h2>

                <ul>
                    <li> Name: <%=userList.name%> </li>

                    <li> Age: <%=userList.age%> </li>

                    <li> Interest: <%=userList.interest%> </li>

                    <li> Email: <%=userList.email%> </li>
                </ul>

                    
                    <input type="text" name="second_id" value="<%=userList._id %>" style="display: none;">
                    
                    <input type="text" name="userArray" value="<%=user.likes %>" style="display: none;">
                    
                    
                    <button name="like" class="like">Like </button>
                    

                   
                </form>
                
                <button onClick="window.location.reload();" name="dislike" class="dislike">Dislike </button>
                </form>
                
       
      
        <br>
            
        <h3>Mine Matches</h3>

            <form name="matches" action="http://localhost:3000/routes/<%=user._id%>/matches" role="form" method="POST">
    
            

                <input type="text" name="userMatches" value="<%=user._id %>" style="display: none;">
                <button name="matches" type="submit" class="matches"> Mine matches</button>
            </form>
        <br>
    </div>

<% } %>




</div>
    
<footer>
</footer>

</body>


<script></script>
</html>
