<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles2.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinder Clone</title>
</head>
<body>

<div class="header">
    <h1>Tinder Clone</h1>
</div>

<div class="main">


    <div class="left">
        
        <% if (user) { %>
            <h2 id="username"> Navn: <%=user.name%> </h2>
        
        <br>
        <ul>
        
            <li> Email: <%=user.email%> </li>
        
        <br>
        
            <li> Alder: <%=user.age%> </li>
        
        <br>
        
            <li> Køn: <%=user.gender%> </li>
        
        <br>
        
            <li> Foretrukket køn: <%=user.preferredGender%> </li>
        
        <br>
        
            <li> Interesser: <%=user.interest%> </li>
        <% } %>
        </ul>
    </div>


    
    <div class="right">

        <b>Matches</b>
        <br>
        <b>Tæt på dig</b>
        <br>
        <b>Notifikationer</b>
        <br>
        <b></b>
    </div>






</div>
    
<footer>
</footer>

</body>


<script></script>
</html>
