<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles2.css">

    <script type = "text/javascript" >
        function preventBack(){window.history.forward();}
         setTimeout("preventBack()", 0);
         window.onunload=function(){null};
     </script> <!--Forhindrer at man kan bruge tilbage pil til at genindlæse efter logud/delete-->
     
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinder Clone</title>
    
</head>
<body>

<div class="header">
    <h1>Tinder Clone</h1>
</div>

<div class="main">


    <div class="left">
        
        <% if (user) { %>

            <ul>

        <form name="updateUser" action="http://localhost:3000/routes/update" role="form" method="POST">

        <input type="text" name="id" value='<%- user._id %>'style="display: none;">        
            <!--Måske ændre alle til H3, hvis det ser bedre ud-->
            <label> Navn: <%=user.name%> 
                <br>    
                    <input name="name" placeholder="Opdater navn" type="text"> </label>
        
        <br>
        
            <label> ID: <%=user._id%> 
                <br>
                    <input name="_id" placeholder="Indsæt ID" type="text"> </label>
        
        <br>
            
            <label>Email: <%=user.email%> 
                <br>
                    <input name="email" placeholder="Opdater Email" type="text"></label>
        
        <br>
            
            <label>Password: <%=user.password%> 
                <br>
                    <input name="password" placeholder="Opdater Password" type="text"></label>
        
        <br>
        
            <label> Alder: <%=user.age%> 
                <br>
                    <input name="age" placeholder="Opdater alder" type="number"></label>
        
        <br>
        
            <label> Køn: <%=user.gender%> 
                <br>
                    <input name="gender" placeholder="Opdater køn" type="text"></label>
        
        <br>
        
            <label> Foretrukket køn: <%=user.preferredGender%>
                <br>    
                    <input name="preferredGender" placeholder="Opdater foretrukket køn" type="text"></label>
        
        <br>
        
            <label> Interesser: <%=user.interest%>
                <br>   
                    <input name="interest" placeholder="Opdater interresser" type="text"></label>  
        
        <br>

        <input type="submit" value="Opdater bruger" id="update">

        </form>
       
        </ul>
        <br>
        
        
        <form name="delete" action="http://localhost:3000/routes/delete" role="form" method="POST" >
            <input type="text" name="id" value='<%- user._id %>' style="display: none;">
        <input type="submit" value="Slet bruger" id="slet">
        </form>
        
        <% } %>
        
      
         
         <button id="logOut" onclick="location.href='http://localhost:3000/'">Log ud</button>
        
    </div>


    
<div class="right">

    

        <b>Matches</b>
        <br>
        <% if (userList) { %>

            <h3>User 1</h3>

                <ul>
                
                <form name="like" action="http://localhost:3000/routes/likes" role="form" method="POST">

                    <li> Name: <%=userList[0].name%> </li>

                    <li> Age: <%=userList[0].age%> </li>

                    <li> Interest: <%=userList[0].interest%> </li>

                    <li> Email: <%=userList[0].email%> </li>

                    <input type="text" name="email" value='<%- user.email %>' style="display: none;">
                    <input type="text" name="match_id" value="<%=userList[0]._id %>" style="display: none;">
                    <button name="like" class="like">Like </button>

                    <button name="dislike" class="dislike">Dislike </button>
                </form>    
                

               
        <br>
              
            <h3>User 2</h3>

                    <li> Name: <%=userList[1].name%> </li>
                    <li> Age: <%=userList[1].age%> </li>
                    <li> Interest: <%=userList[1].interest%> </li>
                    <li> Email: <%=userList[1].email%> </li>

               
                    <button class="like">Like 
    
                    </button>
                
                    <button class="dislike">Dislike 
    
                    </button>
                
        <br> 
    
            <h3>User 3</h3>

                    <li> Name: <%=userList[2].name%> </li>
                    <li> Age: <%=userList[2].age%> </li>
                    <li> Interest: <%=userList[2].interest%> </li>
                    <li> Email: <%=userList[2].email%> </li>
                
                
                    <button class="like">Like 

                    </button>
                
                

               
                    <button class="dislike">Dislike 

                    </button>
                  
    
        <br> 
                </ul>
        <% } %>
    </form> 

        
        <br>
        <b></b>
        <br>
        <b>Notifikationer</b>
        <br>
        <b></b>
    </div>






</div>
    
<footer>
</footer>

</body>


<script></script>
</html>
