<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles2.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinder Clone</title>
</head>
<body>

<div class="header">
    <h1>Tinder Clone</h1>
</div>

<div class="main">

    <div class="right">

        

        <h3>Matches</h3>

        <% if (matchList) { %>

            <% matchList.forEach(function (matchList) { %>
             <form name="remove" action="http://localhost:3000/routes/<%=user._id%>/matches" role="form" method="POST"></form>
               
                    <h2><%= matchList.name%></h2>

                <ul>
                    <li> Name: <%matchList.name%> </li>

                    <li> Age: <%=matchList.age%> </li>

                    <li> Interest: <%=matchList.interest%> </li>

                    <li> Email: <%=matchList.email%> </li>
                </ul>

                    
                    <input type="text" name="second_id" value="<%=userList._id %>">
                    
                    
                    <button name="remove" class="remove">Fjern match </button>

                    <% }) %>
                </form>
        
        <% } %>

    
    </form>

        <b>Notifikationer</b>

    </div>

</div>

<script></script>
</html>
