<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles3.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinder Clone</title>
    
</head>
<body>

<div class="header">
    <h1>Tinder Clone</h1>
</div>

<div class="main">


    <div class="left"> 
        <h3>Mine Matches</h3>
        <% matches.forEach(function(matches){ %>

        <form name="deleteMatches" action="http://localhost:3000/routes/<%=myUser._id%>/matches/delete" role="form" method="POST" >
        
        <% if (matches) { %>

        
        <ul>
            <li> Name: <%=matches.name%> </li>

            <li> Age: <%=matches.age%> </li>

            <li> Interest: <%=matches.interest%> </li>

            <li> Email: <%=matches.email%> </li>

            <li> ID: <%=matches._id%></li>
        </ul>
        
         
            <input name="id" type="text" value="<%=matches._id%>">
        <button name="deleteMatch" type="submit" class="delete" >Slet match</button>

            </form>

            <% } %>
            <% }) %>

        <br>
    </div>






</div>
    
<footer>
</footer>

</body>


<script></script>
</html>
