<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles3.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinder Clone</title>
    
</head>
<body>

<div class="header">
    <h1>Tinder Clone</h1>
</div>

<div class="main">


    <div class="left"> 
        <% matches.forEach(function(matches){ %>

        <% if (matches) { %>

        <h3>Mine Matches</h3>
        <ul>
            <li> Name: <%=matches.name%> </li>

            <li> Age: <%=matches.age%> </li>

            <li> Interest: <%=matches.interest%> </li>

            <li> Email: <%=matches.email%> </li>

            <li> ID: <%=matches._id%></li>
        </ul>

    
        <br>
    </div>

<% } %>
<% }) %>



</div>
    
<footer>
</footer>

</body>


<script></script>
</html>
